<br>
	<div class="row">
		<div class="col-12 col-md-10 col-lg-8">
			<form class="card card-sm">
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search"></i>
					</div>
					<!--end of col-->
					<div class="col">
						<input name="q" value="{{.Keyword}}" class="form-control form-control-lg form-control-borderless" placeholder="{{.i18n.Tr "explore.search"}}...">
					</div>
					<!--end of col-->
					<div class="col-auto">
						<button class="btn btn-lg btn-success">{{.i18n.Tr "explore.search"}}</button>
					</div>
					<!--end of col-->
				</div>
			</form>
		</div>
		<!--end of col-->
	</div>
<br>

<!--original gogs's search form-->
<!--
<form class="ui form">
	<div class="ui fluid action input">
	  <input name="q" value="{{.Keyword}}" placeholder="{{.i18n.Tr "explore.search"}}..." autofocus>
	  <button class="ui blue button">{{.i18n.Tr "explore.search"}}</button>
	</div>
</form>
<div class="ui divider"></div>
-->
